@{
    ViewData["Title"] = "Clients";
}
@model IEnumerable<Client>;
@if (Model == null || Model.Count() == 0)
{
    <div class="text-center">There are no clients yet</div>
}
else
{
    <div class="text-center">
        <table class="feature-service-table" style="margin-top:20px;">
            <tr>
                <th>
                    <div class="head-div">Name</div>
                </th>
                <th>
                    <div class="head-div">Email</div>
                </th>
                <th>
                    <div class="head-div">Phone</div>
                </th>
                <th>
                    <div class="head-div">Date</div>
                </th>
                <th>
                    <div class="head-div">Subscription</div>
                </th>
                <th>
                    <div class="head-div">Customisation</div>
                </th>
            </tr>

           @foreach(var client in Model)
           {
                <tr>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.Date.ToShortDateString()</td>
                    <td>
                        @if (@client.WithSubscription)
                        {
                            <i class="fa-solid fa-check" style="color: #c5ff68"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-horizontal-rule">—</i>
                        }

                    </td>
                    <td>
                        @if (@client.IsCustom)
                        {
                            <i class="fa-solid fa-check" style="color: #c5ff68"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-horizontal-rule">—</i>
                        }
                    </td>
                </tr>    
           }
        </table>
    </div>
}