@{
    ViewData["Title"] = "Clients";
}
@model IEnumerable<Client>;
@if (Model == null || Model.Count() == 0)
{
    <div class="page-container">There are no clients yet</div>
}
else
{
    <div class="page-container">
        <table class="feature-service-table">
            <tr>
                <th>
                    <div class="head-div">Name</div>
                </th>
                <th>
                    <div class="head-div">Email</div>
                </th>
                <th>
                    <div class="head-div">Phone</div>
                </th>
                <th>
                    <div class="head-div">Date</div>
                </th>
                <th>
                    <div class="head-div">Subscription</div>
                </th>
                <th>
                    <div class="head-div">Customisation</div>
                </th>
            </tr>

            @foreach (var client in Model)
            {
                <tr id="@client.Id">
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.Phone</td>
                    <td>@client.Date.ToShortDateString()</td>
                    <td>
                        @if (@client.WithSubscription)
                        {
                            <i class="fa-solid fa-check" style="color: #c5ff68"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-horizontal-rule">—</i>
                        }

                    </td>
                    <td>
                        @if (@client.IsCustom)
                        {
                            <i class="fa-solid fa-check" style="color: #c5ff68"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-horizontal-rule">—</i>
                        }
                    </td>
                    <td>
                        <button class="delete-button" data-id="@client.Id">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
}
<script>
    function deleteRowById(rowId) {
        var row = document.getElementById(rowId);
        if (row) {
            row.parentNode.removeChild(row);
            console.log("row deleted");
        }
    }

    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
            var clientId = this.dataset.id;
            var path = `Client/Delete/${clientId}`
            console.log(path)
            fetch(path, {
                method: 'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data) {
                        deleteRowById(clientId);
                    }
                });
        });
    });
</script>